@import "bootstrap-sprockets";
@import "bootstrap";


.container {
  margin: 0 30px ;
}

/* header */
header {
  
}

#header_top{
  display: flex;
  justify-content: space-between;
  
}

#header_logo {
  padding: 10px;
  font-size: 1.8rem;
}

#header_nav{
  li{
    padding: 10px 5px;
    float: left;
  }
}

#header_main{
  display: flex;
  justify-content: space-between;
}

#header_left {
  li{
  float: left;
  padding: 10px 5px ;
  }
}

#header_right {
  li{
    float: left;
    padding: 10px 5px;
    input{
      border: solid 1px #000 ;
    }
  }
}


/* main */

main {
  background-color: silver;
  padding: 20px 0px;

}





/* footer */
footer{
  background-color: black;
  color: white;
}

#footer_main{
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}


/* index */
#main_logo{
  background-color: tan;
  text-align: center;
  
}

#googlemap_button {
  margin: 30px 0px;
  display: flex;
  justify-content: space-around;
}

#address_sarch_button{
  form{
    #sarch_form{
      width: 800px;
      height: 50px;
      background-color: #fff;
    }
    #form_button{
      display: flex;
      justify-content: flex-end;
    }
  }
}

#main_contents {
  margin: 0 auto;
  text-align: center;
  h2{
    font-size: 2rem;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
}

/* show */

.shops{
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr ;
  margin-bottom: 50px;
}
.shop_data{
  margin-bottom: 30px;
  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: 50%;
    font-family: 'object-fit: cover; object-position: 50%;';
    border-radius: 10px;
  }
  p {
    font-size: 2rem;
    text-align: center;
  }
}

/* menu */

/* report */

#shop-field {
  // display: none;
}

#new-shop {
  button {
    background-color: yellow;
  }
}

#menu-field {
  // display: none;
}

#new-menu {
  button {
    background-color: yellow;
  }
}

 //like-btn 
.like-btn-unlike {
  color: red;
}
.like-btn-like {
  color: grey;
}
