footer
  .container
    #footer_main
      #footer_left
        #footer_logo
          = link_to "なか食レポ", reports_path
          = link_to "なか食レポって？" , about_path
      #footer_right
        p
          | コンテンツ
          = link_to "利用規約", terms_path
