<footer>
  <div class= "container">
    <div id="footer_main">
      <div id="footer_left">
        <div id="footer_logo">
          <p>なか食レポ</p>
        </div>
      </div>
      <div id="footer_right">
        <p>コンテンツ</p>
      </div>
    </div>
  </div>
</footer>